{% extends 'doge/base.html' %}
{% load static %}
{% block title %}
Джек-рассел-терьер
{% endblock  %}
{% block content %}
<h1 align=center> Джек-рассел-терьер </h1>

<img class="img-fluid mx-auto d-block" src='{% static 'jack.jpg'  %}'></img>
<p style="text-align: left;">
 <span style="font-size: 13pt;">
	Джек-рассел-терьер – порода, ставшая символом собачьей энергии, жизнерадостности и преданности хозяину. Это весёлый, неугомонный компаньон современного человека, готового вести активный образ жизни и проводить со своим питомцем всё свободное время. </span>
</p>
<p style="text-align: left;">
</p>
<h2 id="part1" style="padding-top: 90px; margin-top: -90px; text-align: left;">Кратко о породе</h2>
<p style="text-align: left;">
</p>
<p style="text-align: left;">
</p>
<p style="text-align: left;">
</p>
<ul style="text-align: left;">
	<li> <span style="font-size: 13pt;">Название породы: Джек-рассел-терьер</span></li>
	<li><span style="font-size: 13pt;">Страна происхождения: Великобритания</span></li>
	<li><span style="font-size: 13pt;">Время зарождения породы: первая половина XIX века</span></li>
	<li><span style="font-size: 13pt;">Вес: 5-7 кг</span></li>
	<li><span style="font-size: 13pt;">Рост (высота в холке): 25-30 см</span></li>
	<li><span style="font-size: 13pt;">Продолжительность жизни: 13-16 лет</span></li>
	<li><span style="font-size: 13pt;">Группа породы по МКФ: терьеры</span></li>
	<li><span style="font-size: 13pt;">Размер: маленький</span></li>
</ul>
<p>
</p>
<p style="text-align: left;">
</p>
<h2 id="part2" style="padding-top: 90px; margin-top: -90px; text-align: left;">Характер джек-рассел-терьера</h2>
<p style="text-align: left;">
</p>
<p style="text-align: left;">
</p>
<p style="text-align: left;">
 <span style="font-size: 13pt;">Прежде, чем заводить такую собаку, стоит уяснить несколько важных моментов о её поведении:</span>
</p>
<p style="text-align: left;">
</p>
<ul style="text-align: left;">
	<li> <span style="font-size: 13pt;">Их называют «живчиками», «вечными двигателями», «энерджайзерами» и «неугомонными занозами». Если соединить всё вместе – получится типичный представитель породы, требующий постоянного внимания и заботы.</span></li>
	<li><span style="font-size: 13pt;">Любой джек нуждается в регулярной дрессировке. Если с ним не заниматься, четвероногий друг начнёт показывать те стороны характера, что выливаются в проблемы с поведением и социализацией на прогулках или походах к ветеринару.</span></li>
	<li><span style="font-size: 13pt;">Они по-настоящему любят детей, но ребёнку нужно сразу объяснить, что перед ним не милая плюшевая игрушка, а живое существо со своими потребностями. Излишние проявления ласки для питомца неприемлемы, их он всячески избегает.</span></li>
	<li><span style="font-size: 13pt;">Не забывайте и о генах охотника – на прогулке джек-рассел «соберёт» всех уличных кошек и голубей, поэтому обязательно иметь поводок средней длины, чтобы потом не пришлось бегать по всему двору, пытаясь изловить эту хвостатую батарейку.</span></li>
	<li><span style="font-size: 13pt;">Неожиданно громкий лай пугает многих начинающих владельцев, но от этого никуда не денешься. Пропорции грудной клетки такие, что малейший повод подать голос отзовётся на другом конце квартиры и у ближайших соседей сверху.</span></li>
	<li><span style="font-size: 13pt;">Эти собаки – ревнивые собственники, потому крайне плохо уживутся с другими питомцами в доме, могут проявлять агрессию, если отбирать у них любимые игрушки. Выход – воспитание с щенячьего возраста с гармонией ласки и строгости.</span></li>
</ul>
{% endblock  %}