{% extends 'doge/base.html' %}
{% load static %}
{% block title1 %}
Бультерьер
{% endblock  %}
{% block title %}
Бультерьер
{% endblock  %}
{% block content %}
<h1 align=center> Бультерьер </h1>

<img  class="img-fluid mx-auto d-block" src='{% static 'bull.jpg'  %}'></img>
<p style="text-align: left;">
 <span style="font-size: 13pt;">
	Бультерьер – потомственный английский аристократ в белоснежном «костюме» с иголочки. Его угрожающий внешний вид лишь маска, под которой скрывается компанейский характер.
</p>
<p style="text-align: left;">
</p>
<h2 id="part1" style="padding-top: 90px; margin-top: -90px; text-align: left;">Кратко о породе</h2>
<p style="text-align: left;">
</p>
<p style="text-align: left;">
</p>
<p style="text-align: left;">
</p>
<ul style="text-align: left;">
	<li> <span style="font-size: 13pt;">Название породы: Бультерьер</span></li>
	<li><span style="font-size: 13pt;">Страна происхождения: Великобритания</span></li>
	<li><span style="font-size: 13pt;">Время зарождения породы: 19 век</span></li>
	<li><span style="font-size: 13pt;">Вес: 23-32 кг</span></li>
	<li><span style="font-size: 13pt;">Рост (высота в холке): 53-56 см</span></li>
	<li><span style="font-size: 13pt;">Продолжительность жизни: 11-14 лет</span></li>
	<li><span style="font-size: 13pt;">Группа породы по МКФ: Терьеры</span></li>
	<li><span style="font-size: 13pt;">Размер: средний</span></li>
</ul>
<p>
</p>
<p style="text-align: left;">
</p>
<h2 id="part2" style="padding-top: 90px; margin-top: -90px; text-align: left;">Характер бультерьера</h2>
<p style="text-align: left;">
</p>
<p style="text-align: left;">
</p>
<p style="text-align: left;">
 <span style="font-size: 13pt;">Прежде, чем заводить такую собаку, стоит уяснить несколько важных моментов о её поведении:</span>
</p>
<p style="text-align: left;">
</p>
<ul style="text-align: left;">
	<li> <span style="font-size: 13pt;">Несмотря на устрашающую внешность, бультерьеры весьма доброжелательны и преданны, если их правильно воспитать.</span></li>
	<li><span style="font-size: 13pt;">Эти собаки чрезмерно активны и оттого нуждаются в регулярных физических нагрузках, где они смогут выплеснуть свою энергию.</span></li>
	<li><span style="font-size: 13pt;">Бультерьер не самый лучший вариант для охраны, поскольку редко проявляет агрессию даже по отношению к чужакам.</span></li>
	<li><span style="font-size: 13pt;">Представители породы плохо переносят одиночество, поэтому не уживаются с людьми, которые часто отсутствуют дома.</span></li>
	<li><span style="font-size: 13pt;">Из них получаются замечательные няньки для детей, но рекомендуется не спускать с питомца глаз во время буйных игр с вашим чадом.</span></li>
	<li><span style="font-size: 13pt;">Не рекомендуется содержать бультерьера с другими домашними животными: эта порода весьма доминантна и не потерпит конкуренции.</span></li>
    <li><span style="font-size: 13pt;">Собака нуждается в ранней социализации и воспитании, иначе вырастет неуправляемой и озлобленной.</span></li>
    <li><span style="font-size: 13pt;">Эти английские аристократы подходят только для опытных собаководов, которые займут позицию лидера и не уступят её четверолапому другу.</span></li>
   
</ul>
{% endblock  %}