
{% extends 'doge/base.html' %}
{% load static %}
{% block title1 %}
Сиба-ину
{% endblock  %}
{% block title %}
Сиба-ину
{% endblock  %}
{% block content %}
<h1 align=center> Сиба-ину </h1>

<img class="img-fluid mx-auto d-block"  src='{% static 'siba.jpg'  %}'></img>

<p style="text-align: left;">
 <span style="font-size: 13pt;">
	Сиба-ину – очаровательная собака с плюшевой шерстью и своенравным характером. Быть хозяином такого питомца непросто, но если вы завоюете его уважение и доверие, то получите массу удовольствия от общения с умным и любознательным другом.
</p>
<p style="text-align: left;">
</p>
<h2 id="part1" style="padding-top: 90px; margin-top: -90px; text-align: left;">Кратко о породе</h2>
<p style="text-align: left;">
</p>
<p style="text-align: left;">
</p>
<p style="text-align: left;">
</p>
<ul style="text-align: left;">
	<li> <span style="font-size: 13pt;">Название породы: Сиба-ину</span></li>
	<li><span style="font-size: 13pt;">Страна происхождения: Япония</span></li>
	<li><span style="font-size: 13pt;">Время зарождения породы: 3 век до н. э.</span></li>
	<li><span style="font-size: 13pt;">Вес: 10-13 кг</span></li>
	<li><span style="font-size: 13pt;">Рост (высота в холке): 36-40 см</span></li>
	<li><span style="font-size: 13pt;">Продолжительность жизни: 12-15 лет</span></li>
	<li><span style="font-size: 13pt;">Группа породы по МКФ: Шпицы и породы примитивного типа</span></li>
	<li><span style="font-size: 13pt;">Размер: средний</span></li>
</ul>
<p>
</p>
<p style="text-align: left;">
</p>
<h2 id="part2" style="padding-top: 90px; margin-top: -90px; text-align: left;">Характер сиба-ину</h2>
<p style="text-align: left;">
</p>
<p style="text-align: left;">
</p>
<p style="text-align: left;">
 <span style="font-size: 13pt;">Прежде, чем заводить такую собаку, стоит уяснить несколько важных моментов о её поведении:</span>
</p>
<p style="text-align: left;">
</p>
<ul style="text-align: left;">
	<li> <span style="font-size: 13pt;">Животные этой породы отличаются высоким интеллектом и сильным характером.</span></li>
	<li><span style="font-size: 13pt;">Сиба-ину – страшные собственники, категорически не любят делиться.</span></li>
	<li><span style="font-size: 13pt;">Собаки очень чистоплотны, сознательно избегают грязи, тщательно себя вылизывают.</span></li>
	<li><span style="font-size: 13pt;">Сиба-ину с трудом поддаются дрессуре, претендуют на роль лидера и постоянно проверяют хозяина на прочность.</span></li>
	<li><span style="font-size: 13pt;">Вожаком признают одного человека, с остальными держатся на дистанции.</span></li>
	<li><span style="font-size: 13pt;">Щенки требуют ранней социализации, в противном случае собака не поддается воспитанию.</span></li>
    <li><span style="font-size: 13pt;">Избегает телесного контакта, трепетно относится к личному пространству, активно его защищает.</span></li>
    <li><span style="font-size: 13pt;">Сибы очень любознательны, активны, становятся отличными компаньонами в путешествиях и занятиях спортом.</span></li>
    <li><span style="font-size: 13pt;">Сиба-ину не ладит с малышами, порода рекомендуется для детей старше 10 лет.</span></li>
</ul>
{% endblock  %}